body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    
}

.quadrado {
    width: 100px;
    height: 100px;
    background-color: #4caf50;
    border-radius: 10px;
    animation: mover 3s infinite alternate ease-in-out;
}

@keyframes mover {
    0% {
        transform:  translateX(0);
        background-color: #4caf50;
    }
    50% {
        transform: translateX(150px) rotate(45deg);
        background-color: #ffc107;
    }
    100% {
        transform: translateX(0) rotate(0deg);
        background-color: #e91e63
    }
}
