@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height:100%;*/
}

body{
    background-image: linear-gradient(to right, #FFBC8F, #E87E64);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #743f3187;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color:#A64B4B ;
    text-align: center;
    color:#A64B4B ;
    text-shadow: 1px 1px 2px #471f1f ;

}

h2{
    color:#E87E64 ;
}
p {
    text-align: justify;
}